.container {
    padding: 0.5rem !important;
    display: flex;
    align-items: baseline;
    .textField {
        width: 50rem !important;
        background-color: rgb(194, 190, 190, 0.2);
        border-radius: 10px !important;
    }
    .button {
        margin: 1rem !important;
        background-color: rgb(203, 230, 180) !important;
        height: 3rem !important;
        width: 6rem !important;
        font-size: 0.8rem;
        border-radius: 6px;
        span {
            color: black !important;
        }
        p {
            color: black;
        }
    }
}